.banner{
    $this: &;
    z-index: 0;
    #{$this}__container{
        #{$this}__content{
            display: flex;
            flex-wrap: wrap;
            position: relative;
            .width{
                flex: 0 0 50%;
                max-width: 50%;
                height: 900px;
                @include MediaQuery($tablet){
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                @include MediaQuery($mobile){
                    height: 500px;
                }
                .widthImage{
                    width: 100%;
                    height: 100%;
                    img{
                        display: block;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
            .relative{
                position: relative;
                .absolute{
                    position: absolute;
                    bottom: 3%;
                    left: 50%;
                    transform: translateX(-50%);
                    text-align: center;
                    line-height: 50px;
                    h3{
                        font-size: 36px;
                    }
                    p{
                        font-size: 18px;
                        font-weight: 200;
                        margin-bottom: 30px;
                    }
                }
            }
            #{$this}__left{
                #{$this}__text{
                    color: white;
                    span{
                        &:before{
                            background-color: rgb(255, 255, 255);
                        }
                        .boder{
                            background-color: rgb(255, 255, 255);
                        }
                        &:after{
                            background-color: rgb(255, 255, 255);
                        }
                        border-bottom: 1px solid rgb(255, 255, 255);
                    }
                }
            }
            #{$this}__right{
                background-color: #f0eeeb;
                padding: 80px;
                @include MediaQuery($mobile){
                    padding: 30px;
                }
                #{$this}__text{
                    color: black;
                    span{
                        &:before{
                            background-color: black;
                        }
                        .boder{
                            background-color: black;
                        }
                        &:after{
                            background-color: black;
                        }
                        border-bottom: 1px solid black;
                    }
                }
            }
        }
    }
}