.earrings{
    padding: 40px;
    $this: &;
    #{$this}__container{
        h2{
            text-align: center;
            font-size: 28px;
            margin-bottom: 30px;
        }
        #{$this}__content{
            display: flex;
            flex-wrap: wrap;
            #{$this}__card{
                flex: 0 0 20%;
                max-width: 20%;
                #{$this}__item{
                    padding: 0 15px;
                    #{$this}__thumbnail{
                        position: relative;
                        img{
                            display: block;
                            width: 100%;
                            height: 350px;
                            object-fit: cover;
                        }
                        #{$this}__hover{
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            opacity: 0;
                            &:hover{
                                opacity: 1;
                                transition: all 0.5s ease;
                            }
                            img{
                                display: block;
                            }
                        }
                        #{$this}__icon{
                            position: absolute;
                            bottom: 20px;
                            right: 20px;
                            background-color: rgb(167, 164, 164);
                            height: 45px;
                            width: 45px;
                            line-height: 45px;
                            text-align: center;
                            border-radius: 5px;
                            color: white;
                            font-size: 18px;
                            cursor: pointer;
                        }
                    }
                    #{$this}__description{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        padding: 15px 0;
                        #{$this}__text{
                            flex: 0 0 70%;
                            .top{
                                font-size: 13px;
                                color: rgb(142, 142, 142);
                                font-weight: 300;
                                margin: 7px 0px;
                                display: block;
                            }
                            .bottom{
                                font-size: 16px;
                                font-weight: 400;
                                color: rgb(47, 47, 47);
                                line-height: 20px;
                            }
                        }
                        #{$this}__price{
                            p{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.slick-arrow{
    display: none !important;
}

.slick-dots{
    font-size: 0;
    display: flex;
}

.slick-slider{
    justify-content: center;
}

.presentation{
    margin: 0 5px;
    width: 40px;
    height: 3px;
    button{
        width: 100%;
        border: none;
        height: 100%;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}