.feedback{
    $this: &;
    padding: 48px 0;
    #{$this}__container{
        #{$this}__content{
            text-align: center;
            h2{
                font-size: 27px;
            }
            #{$this}__note{
                padding: 0 30px;
                #{$this}__note--text{
                    p{
                        font-size: 27px;
                        margin: 48px 0;
                        font-style: italic;
                        line-height: 50px;
                    }
                }
            }
        }
    }
    .slick-prev, .slick-next{
        display: none !important;
    }
    .slick-dots{
        display: flex;
        justify-content: center;
        button{
            border: none;
            background-color: #fff;
            font-size: 14px;
            margin: 0 12px;
            color: #000;
            opacity: 0.25;
            &.active{
                opacity: .75;
                color: black;
            }  
        }
    }
}