.footer{
    $this: &;
    padding-top: 48px;
    overflow: hidden;
    .left{
        background-color: #000;
        color: rgb(154, 154, 154);
        order: 2;
    }
    .right{
        background-color: #f0eeeb;
        height: 100%;
        order: 1;
        #{$this}__addmail{
            text-align: center;
            h2{
                font-size: 25px;
                margin-bottom: 30px;
            }
            #{$this}__input{
                position: relative;
                input{
                    border: none;
                    background-color: #f0eeeb;
                    border-bottom: 1px solid #000;
                    width: 100%;
                    outline: none;
                    padding: 7px;
                }
                span{
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                }
            }
            #{$this}__social{
                margin-top: 48px;
                i{
                    font-size: 25px;
                    margin: 0 10px;
                    cursor: pointer;
                    &:hover{
                        color: rgb(121, 119, 119);
                    }
                }
            }
        }
    }
    #{$this}__item{
        padding: 48px;
        a{
            text-decoration: none;
            font-size: 30px;
            color: white;
            h1{
                
            }
        }
        #{$this}__listmenu{
            @include MediaQuery($mobile){
                margin-top: 48px;
            }
            cursor: pointer;
            h2{
                font-size: 18px;
                color: white;
            }
            ul{
                li{
                    margin: 20px 0;
                    &:hover{
                        color: white;
                    }
                }
            }
        }
        #{$this}__all{
            text-align: center;
            #{$this}__bank{
                margin-top: 48px;
                margin-bottom: 30px;
                i{
                    margin: 0 10px;
                    font-size: 25px;
                    cursor: pointer;
                }
            }
        }
    }
    .remopadding{
        padding: 0;
    }
}