.header{
    height: 70px;
    line-height: 70px;
    $this: &;
    position: relative;
    z-index: 1;
    transition: all 0.5s ease;
    &.active{
        position: fixed;
        width: 100%;
        background-color: rgb(224, 214, 198);
        transition: all 0.3s linear; 
        transform: translateY(0%);
        z-index: 2;
        align-items: center;  
        @include MediaQuery($tablet){
            transform: translateY(0%);
        }
        #{$this}__SearchRWD{
            @include MediaQuery($tablet){
                display: none !important;
            }
        }
    }
    @include MediaQuery($tablet){
        height: auto;
        padding: 10px 0px 0px 0px;
    }
    #{$this}__content{
        display: flex;
        flex-wrap: wrap;
        @include MediaQuery($tablet){
            display: flex;
            flex-wrap: wrap;
        }
        .layout{
            flex: 0 0 33.3333%;
            max-width: 333.333%;
            @include MediaQuery($tablet){
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
        #{$this}__menu{
            @include MediaQuery($tablet){
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                max-width: 100%;
                background-color: #f0eeeb;
                height: calc(100vh - 110px);
                z-index: 1;
                overflow: auto;
                padding: 20px;
                transition: all 0.5s;
                &.active{
                    display: block;
                }
            }
            ul{
                display: flex;
                align-items: center;
                @include MediaQuery($tablet){
                    display: block;
                }
                li{
                    margin: 0 10px;
                    cursor: pointer;
                }
                .option{
                    #{$this}__closemenu{
                        display: none;
                        @include MediaQuery($tablet){
                            display: block;
                            text-align: right;
                            opacity: 0;
                            span{
                                i{
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                    #{$this}__ShowShop{
                        @include MediaQuery($tablet){
                            display: flex;
                            justify-content: space-between;
                        }
                    }
                    &:hover{
                        #{$this}__allmenu{
                            display: flex;
                            @include MediaQuery($tablet){
                                display: block;
                            }
                        }
                    }
                    #{$this}__allmenu{
                        position: absolute;
                        top: 100%;
                        right: 0;
                        left: 0;
                        max-width: 95%;
                        display: none;
                        margin: 0 auto;
                        padding:0 48px;
                        background-color: #fff;
                        @include MediaQuery($tablet){
                            display: none;
                            position: relative;
                            background-color: #f0eeeb;
                        }
                        #{$this}__megamenu{
                            flex: 0 0 25%;
                            max-width: 25%;
                            padding: 0 15px;
                            @include MediaQuery($tablet){
                                line-height: 2.5em;
                                font-weight: 500;
                                max-width: 100%;
                            }
                            .image{
                                max-width: 100%;
                                height: 170px;
                                @include MediaQuery($tablet){
                                    display: none;
                                }
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    display: block;
                                }
                            }
                            #{$this}__title{
                                h3{
                                    font-size: 18px;
                                    font-weight: 600;
                                    @include MediaQuery($tablet){
                                        list-style: 15px;
                                        width: 100%;
                                    }
                                }
                                ul{
                                    display: block;
                                    line-height: 30px;
                                    @include MediaQuery($tablet){
                                        display: none;
                                        padding-left: 20px;
                                    }
                                    li{
                                        margin: 0px;
                                        font-weight: 400;
                                    }
                                }
                                &:hover{
                                    ul{
                                        @include MediaQuery($tablet){
                                            display: block;
                                            padding-left: 20px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            #{$this}__imageMobile{
                display: none;
                @include MediaQuery($tablet){
                    display: block;
                    img{
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        #{$this}__logo{
            text-align: center;
            align-items: center;
            @include MediaQuery($tablet){
                text-align: left;
            }
            a{
                text-decoration: none;
                h1{
                    font-size: 30px;
                    color: #000;
                }
            }
        }
        #{$this}__SearchRWD{
            display: none;
            @include MediaQuery($tablet){
                display: flex;
                flex: 0 0 100%;
                max-width: 100%;
                position: relative;
                height: 40px;
                z-index: 0;
                margin-bottom:20px;
                input{
                    width: 100%;
                    height: 100%;
                    padding: 0 20px;
                    outline: none;
                }
                span{
                    i{
                        position: absolute;
                        top: 50%;
                        right: 20px;
                        transform: translateY(-50%);
                    }
                }
            }
        }
        #{$this}__SearchAndCart{
            cursor: pointer;
            display: flex;
            justify-content: right;
            align-items: center;
            #{$this}__menumobile{
                display: none;
                @include MediaQuery($tablet){
                    display: block;
                    margin-left: 30px;
                    span{
                        i{
                            display: block;
                            font-size: 20px;
                        }
                    }
                }
            }
            #{$this}__search{
                margin-right: 15px;
                @include MediaQuery($tablet){
                    order: 2;
                }
                #{$this}__MenuRWD{
                    display: none;
                    @include MediaQuery($tablet){
                        display: block;
                        
                        margin-left: 30px;
                        span{
                            i{
                                display: block;
                            }
                        }
                    }
                }
                #{$this}__icon{
                    @include MediaQuery($tablet){
                        display: none;
                    }
                }
                i{
                    font-size: 20px;
                }
                #{$this}__megasearch{
                    position: absolute;
                    background-color: rgba(0, 0, 0, 0.682);
                    left: 0;
                    right: 0;
                    top: 0;
                    height: 100vh;
                    display: none;
                    &.active{
                        display: block;
                    }
                    #{$this}__itemsearch{
                        width: 35%;
                        background-color: #fff;
                        height: 100%;
                        position: absolute;
                        right: 0;
                        .inputsearch{
                            position: relative;
                            input{
                                width: 100%;
                                outline: none;
                                height: 70px;
                                border: 1px solid rgb(203, 203, 203);
                                padding: 0 20px;
                            }
                            span{
                                i{
                                    position: absolute;
                                    top: 50%;
                                    right: 20px;
                                    transform: translateY(-50%);
                                }
                            }
                        }
                        ul{
                            padding: 30px;
                            li{
                                line-height: 30px;
                            }
                        }
                    }
                }
            }
            #{$this}__cart{
                font-size: 16px;
                span{
                    #{$this}__Shop{
                        display: flex;
                        align-items: center;
                        #{$this}__cartPC{
                            .PC{
                                @include MediaQuery($tablet){
                                    display: none;
                                }
                            }
                        }
                        #{$this}__cartRWD{
                            display: none;
                            @include MediaQuery($tablet){
                                display: block;
                                width: 30px;
                                height: 30px;
                                line-height: 30px;
                                text-align: center;
                                background-color: #000;
                                border-radius: 50%;
                                order: 1;
                                span{
                                    color: #fff;
                                }
                            }
                        }
                    }
                    #{$this}__megacart{
                        position: absolute;
                        max-width: 100%;
                        top: 0;
                        left: 0;
                        right: 0;
                        height: 100vh;
                        background-color: rgba(0, 0, 0, 0.682);
                        display: none;
                        &.active{
                            display: block;
                        }
                        @include MediaQuery($tablet){
                            transition: all 1s linear;
                            &.active{   
                                z-index: 1;
                            }
                        }
                        #{$this}__select{
                            position: absolute;
                            right: 0;
                            width: 35%;
                            background-color: #fff;
                            height: 100%;
                            padding: 0px 35px;
                            text-align: center;
                            line-height: 40px;
                            @include MediaQuery($tablet){
                                width: 100%;
                                background-color: rgb(254, 253, 231);
                            }
                            #{$this}__item{
                                display: flex;
                                justify-content: space-between;
                                padding: 30px 0;
                                p:first-child{
                                    font-size: 23px;
                                }
                            }
                            #{$this}__textcart{
                                margin-top: 100px;
                                h3{
                                    font-size: 25px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .banner{
            h1{
                cursor: pointer;
            }
            h2{
                display: none;
                color: rgb(227, 31, 31);
                &.active{
                    display: block;
                }
            }
        }
    }
}