.initials{
    $this: &;
    padding: 48px 0px;
    #{$this}__container{
        #{$this}__content{
            display: flex;
            flex-wrap: wrap;
            .flex{
                flex: 0 0 50%;
                max-width: 50%;
                @include MediaQuery($mobile){
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                .img{
                    width: 100%;
                    img{
                        display: block;
                        width: 100%;
                    }
                }
            }
            #{$this}__left{
                padding-right: 65px;
                @include MediaQuery($mobile){
                    padding: 0px 15px;
                }
                .bottom{
                    padding: 65px 0px 65px 65px;
                    @include MediaQuery($mobile){
                        padding: 15px 0px 0px 0px;
                    }
                }
            }
            #{$this}__right{
                padding-left: 65px;
                @include MediaQuery($mobile){
                    padding: 0px 15px;
                }
                #{$this}__right--text{
                    padding: 48px 0;
                    text-align: center;
                    margin-right: 48px;
                    h3{
                        font-size: 27px;
                        font-weight: 300;
                    }
                    p{
                        margin: 30px 0;
                        line-height: 30px;
                        color: rgb(110, 110, 110);
                    }
                    span{
                        font-size: 17px;
                        color: rgb(72, 72, 72);
                        cursor: pointer;
                        border-bottom: 1px solid #000;
                        &:before{
                            background-color: black;
                        }
                        .boder{
                            background-color: black;
                        }
                        &:after{
                            background-color: black;
                        }
                        border-bottom: 1px solid black;
                    }
                }
            }
        }
    }
}