.jewelry{
    $this: &;
    padding: 48px 0;
    height: 100%;
    #{$this}__container{
        #{$this}__content{
            #{$this}__title{
                text-align: center;
                font-size: 30px;
                font-weight:300;
                padding: 48px 0;
            }
            #{$this}__product{
                display: flex;
                flex-wrap: wrap;
                @include MediaQuery($mobile){
                    display: block;
                }
                .width{
                    flex: 0 0 50%;
                    max-width: 50%;
                    @include MediaQuery($mobile){
                        max-width: 100%;
                        flex: 0 0 100%;
                    }
                    .image{
                        width: 100%;
                        img{
                            display: block;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                #{$this}__left{
                    padding: 0 100px;
                    @include MediaQuery($tablet){
                        padding: 0 60px;
                    }
                    @include MediaQuery($mobile){
                        padding: 0 15px;
                    }
                    #{$this}__all{
                        width: 100%;
                        #{$this}__text{
                            width: 100%;
                            text-align: center;
                            padding: 20px;
                            h3{
                                font-size: 22px;
                            }
                            p{
                                font-size: 16px;
                                color: rgb(102, 102, 102);
                                line-height: 23px;
                                padding: 28px 0;
                            }
                            span{
                                margin-top: 30px;
                                display: inline;
                                &:before{
                                    background-color: black;
                                }
                                .boder{
                                    background-color: black;
                                }
                                &:after{
                                    background-color: black;
                                }
                                border-bottom: 1px solid black;
                            }
                        }
                    }
                }
                #{$this}__right{
                    @include MediaQuery($mobile){
                        display: none;
                    }
                }
            }
        }
    }


    .slick-arrow{
        display: none !important;
    }

    .slick-dots{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        
    }

    slick-list{
        padding: 0px !important;
    }
    .draggable{
        padding: 0px !important;
    }
    button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled){
        margin: 0 5px;
        border: none;
        background-color: rgb(213, 210, 210);
        font-size: 0px;
        height: 2.8px;
        width: 40px;
    }
}