.lookbook{
    $this: &;
    padding: 48px 0;
    height: 100vh;
    #{$this}__container{
        height: 100%;
        #{$this}__content{
            height: 100%;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.375);
                display: block;
                z-index: 0;
            }
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                display: block;
            }
            #{$this}__text{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
                color: #fff;
                text-align: center;
                font-size: 17px;
                width: 100%;
                h2{
                    font-size: 65px;
                    font-weight: 200;
                    margin-bottom: 40px;
                    line-height: 70px;
                }
                .hoverborder{
                    font-size: 16px;
                    border-bottom: 1px solid #fff;;
                    &:after{
                        background-color: #fff;
                    }
                    .boder{
                        background-color: #fff;
                    }
                    &::before{
                        background-color: #fff;
                    }
                }
            }
        }
    }
}