.shop{
    $this: &;
    padding: 48px;
    @include MediaQuery($mobile){
        padding: 48px 15px;
    }
    #{$this}__container{
        #{$this}__content{
            #{$this}__card{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                #{$this}__left{
                    flex: 0 0 25%;
                    max-width: 25%;
                    @include MediaQuery($mobile){
                        flex: 0 0 100%;
                        max-width: 100%;
                        margin-bottom: 20px;
                    }
                    #{$this}__title{
                        h2{
                            font-size: 27px;
                        }
                        p{
                            margin: 20px 0;
                            font-size: 17px;
                            line-height: 25px;
                            color: rgb(124, 121, 121)
                        }
                        span{
                            font-size: 16px;
                            display: inline-block;
                            margin-top: 20px;
                            &:before{
                                background-color: black;
                            }
                            .boder{
                                background-color: black;
                            }
                            &:after{
                                background-color: black;
                            }
                            border-bottom: 1px solid black;
                        }
                    }
                }
                #{$this}__right{
                    flex: 0 0 75%;
                    max-width: 75%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    @include MediaQuery($mobile){
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                    #{$this}__product{
                        padding: 0 10px ;
                        #{$this}__image{
                            max-width: 100%;
                            height: 350px;
                            position: relative;
                            cursor: pointer;
                            @include MediaQuery($tablet){
                                height: 150px;
                            }
                            @include MediaQuery($mobile){
                                height: 500px;
                            }
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                display: block;
                            }
                            #{$this}__image--hover{
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                opacity: 0;
                            }
                            #{$this}__item{
                                position: absolute;
                                bottom: 10px;
                                right: 10px;
                                #{$this}__icon{
                                    i{
                                        font-size: 20px;
                                        height: 40px;
                                        width: 40px;
                                        line-height: 040px;
                                        text-align: center;
                                        background-color: rgb(165, 165, 165);
                                        color: #fff;
                                        border-radius: 5px;
                                    }
                                }
                            }
                        }
                        &:hover{
                            #{$this}__image--hover{
                                opacity: 1;
                                transition: 0.7s all;
                            }
                        }
                        #{$this}__product--infor{
                            display: flex;
                            flex-wrap: wrap;
                            margin: 20px 0;
                            #{$this}__product--name{
                                flex: 0 0 60%;
                                max-width: 60%;
                                p{
                                    font-size: 13px;
                                    color: rgb(124, 124, 124)
                                }
                                h3{
                                    margin-top: 15px;
                                    font-weight: 400;
                                    font-size: 16px;
                                }
                            }
                            #{$this}__product--price{
                                flex: 0 0 40%;
                                max-width: 40%;
                                text-align: right;
                                span{
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
            // #{$this}__product--cart{
            //     position: fixed;
            //     width: 100%;
            //     height: 100%;
            //     top: 0;
            //     bottom: 0;
            //     right: 0;
            //     left: 0;
            //     background-color: rgba(0, 0, 0, 0.718);
            //     z-index: 3;
            //     display: none;
            //     &.active{
            //         display: block;
            //     }
            //     #{$this}__all{
            //         width: 35%;
            //         background-color: #fff;
            //         bottom: 0;
            //         position: absolute;
            //         top: 0;
            //         right: 0;
            //         overflow: auto;
            //         @include MediaQuery($tablet){
            //             width: 100%;
            //         }
            //         .close{
            //             position: absolute;
            //             top: 20px;
            //             left: 20px;
            //             font-size: 25px;
            //         }
            //         #{$this}__detail{
            //             padding: 48px 70px;
            //             @include MediaQuery($mobile){
            //                 padding: 20px;
            //             }
            //             #{$this}__detail--thumbnail{
            //                 padding: 30px;
            //                 #{$this}__thumbnail--img{
            //                     cursor: grab;
            //                     img{
            //                         display: block;
            //                         width: 100%;
            //                         height: 100%;
            //                     }
            //                 }
            //             }
            //             #{$this}__detail--text{
            //                 h2{
            //                     font-size: 27px;
            //                 }
            //                 .price{
            //                     margin: 30px 0;
            //                     display: block;
            //                     font-weight: 600;
            //                     font-size: 17px;
            //                 }
            //                 #{$this}__detaill--style{
            //                     .gold{
            //                         font-size: 16px;
            //                         font-weight: 300;
            //                     }
            //                     .option{
            //                         margin: 20px 0;
            //                         display: flex;
            //                         span{
            //                             cursor: pointer;
            //                             height: 40px;
            //                             width: 40px;
            //                             line-height: 40px;
            //                             text-align: center;
            //                             display: block;
            //                             border: 1px solid #000;
            //                             margin-right: 15px;
            //                             border-radius: 50%;
            //                         }
            //                         .gray{
            //                             background-color: rgb(196, 193, 193);
            //                         }
            //                         .yellow{
            //                             background-color: yellow;
            //                         }
            //                         .pink{
            //                             background-color: pink;
            //                         }
            //                     }
            //                 }
            //                 #{$this}__quantity{
            //                     display: flex;
            //                     align-items: center;
            //                     p{
            //                         font-size: 15px;
            //                         font-weight: 400;
            //                         margin-right: 15px;
            //                     }
            //                     #{$this}__input{
            //                         display: flex;
            //                         flex-wrap: wrap;
            //                         input{
            //                             width: 40px;
            //                             height: 40px;
            //                             text-align: center;
            //                             border: 1px solid #000;
            //                             border-right: none;
            //                             border-left: none;
            //                             outline: none;
            //                         }
            //                         span{
            //                             cursor: pointer;
            //                             display: inline-block;
            //                             width: 40px;
            //                             height: 40px;
            //                             line-height: 40px;
            //                             text-align: center;
            //                             font-size: 25px;
            //                             font-family: 300;
            //                             border: 1px solid #000;
            //                             display: inline-block;
            //                         }
            //                         .less{
            //                             border-right: none;
            //                         }
            //                         .plus{
            //                             border-left: none;
            //                         }
            //                     }
            //                 }
            //                 #{$this}__button{
            //                     display: block;
            //                     margin-top: 10px;
            //                     button{
            //                         width: 80%;
            //                         background-color: rgb(218, 218, 218);
            //                         padding: 15px 30px;
            //                         outline: none;
            //                         border: none;
            //                         margin: 10px 0;
            //                         transition: all 0.5s ease;
            //                     }
            //                     .add{
            //                         background-color: #d1d2d2;

            //                         &:hover{
            //                             background-color: #808383;
            //                         }
            //                     }
            //                     .by{
            //                         background-color: #687886;
            //                         color: white;
            //                         &:hover{
            //                             background-color: #246dac;
            //                         }
            //                     }
            //                 }
            //                 #{$this}__description{
            //                     h3{
            //                         font-size: 16px;
            //                         font-weight: 400;
            //                     }
            //                     .text{
            //                         font-size: 15px;
            //                         margin: 1em 0; 
            //                         font-weight: 300;
            //                         line-height: 23px;
            //                     }
            //                     ul{
            //                         padding-left: 20px;
            //                         li{
            //                             list-style: initial;
            //                         }
            //                     }
            //                 }
            //                 #{$this}__social{
            //                     display: flex;
            //                     align-items: center;
            //                     margin-top: 20px;
            //                     span{
            //                         font-size: 16px;
            //                         font-weight: 300;
            //                         margin-right: 15px;
            //                         i{
            //                             font-size: 15px;
            //                             margin: 0 7px;
            //                             cursor: pointer;
            //                             &:hover{
            //                                 color: #687886;
            //                             }
            //                         }
            //                     }
            //                 }
            //             }
            //         }
            //     }
            // }
        }
    }

    /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
}