.shopify{
    $this: &;
    padding: 48px 0;
    #{$this}__container{
        padding: 48px 0;
        background-color: #f0eeeb;
        #{$this}__content{
            display: flex;
            flex-wrap: wrap;
            #{$this}__item{
                cursor: pointer;
                flex: 0 0 20%;
                max-width: 20%;
                text-align: center;
                @include MediaQuery($tablet){
                    flex: 0 0 50%;
                    max-width: 50%;
                    margin-bottom: 20px;
                }
                #{$this}__icon{
                    i{
                        font-size: 70px;
                    }
                }
                p{
                    margin-top: 20px;
                    font-size: 16px;
                }
            }
        }
    }
}