.hoverborder{
    font-size: 16px;
    font-weight: 200;
    padding: 10px 20px;
    position: relative;
    cursor: pointer;
    &:before {
        content: "";
        display: block;
        width: 1px;
        height: 0%;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all 0.1s;
        transition-delay: 0.3s;
    }
    .boder{
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 1px;
        transition: all 0.1s;
        transition-delay: 0.2s;
    }
    &:after{
        content: "";
        display: block;
        width: 1px;
        height: 0%;
        position: absolute;
        top: 0;
        right: 0;
        transition: all 0.1s;
        transition-delay: 0.1s;
    }
    &:hover{
        &:before{
            height: 100%;
            transition-delay: 0.1s;
        }
        .boder{
            width: 100%;
            transition-delay: 0.2s;
        }
        &:after{
            height: 100%;
            transition-delay: 0.3s;
        }
    }
}


            .site-overlay{
                position: fixed;
                width: 100%;
                height: 100%;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.718);
                z-index: 3;
                display: none;
                &.active{
                    display: block;
                }
                .allgeneral{
                    width: 35%;
                    background-color: #fff;
                    bottom: 0;
                    position: absolute;
                    top: 0;
                    right: 0;
                    overflow: auto;
                    @include MediaQuery($tablet){
                        width: 100%;
                    }
                    .closegeneral{
                        position: absolute;
                        top: 20px;
                        left: 20px;
                        font-size: 25px;
                    }
                    .detailgeneral{
                        padding: 48px 70px;
                        @include MediaQuery($mobile){
                            padding: 20px;
                        }
                        .thumbnailgeneral{
                            padding: 30px;
                            .imggeneral{
                                cursor: grab;
                                img{
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                        .textgeneral{
                            h2{
                                font-size: 27px;
                            }
                            .price{
                                margin: 30px 0;
                                display: block;
                                font-weight: 600;
                                font-size: 17px;
                            }
                            .stylegeneral{
                                .gold{
                                    font-size: 16px;
                                    font-weight: 300;
                                }
                                .option{
                                    margin: 20px 0;
                                    display: flex;
                                    span{
                                        cursor: pointer;
                                        height: 40px;
                                        width: 40px;
                                        line-height: 40px;
                                        text-align: center;
                                        display: block;
                                        border: 1px solid #000;
                                        margin-right: 15px;
                                        border-radius: 50%;
                                    }
                                    .gray{
                                        background-color: rgb(196, 193, 193);
                                    }
                                    .yellow{
                                        background-color: yellow;
                                    }
                                    .pink{
                                        background-color: pink;
                                    }
                                }
                            }
                            .quantitygeneral{
                                display: flex;
                                align-items: center;
                                p{
                                    font-size: 15px;
                                    font-weight: 400;
                                    margin-right: 15px;
                                }
                                .inputgeneral{
                                    display: flex;
                                    flex-wrap: wrap;
                                    input{
                                        width: 40px;
                                        height: 40px;
                                        text-align: center;
                                        border: 1px solid #000;
                                        border-right: none;
                                        border-left: none;
                                        outline: none;
                                    }
                                    span{
                                        cursor: pointer;
                                        display: inline-block;
                                        width: 40px;
                                        height: 40px;
                                        line-height: 40px;
                                        text-align: center;
                                        font-size: 25px;
                                        font-family: 300;
                                        border: 1px solid #000;
                                        display: inline-block;
                                    }
                                    .less{
                                        border-right: none;
                                    }
                                    .plus{
                                        border-left: none;
                                    }
                                }
                            }
                            .buttongeneral{
                                display: block;
                                margin-top: 10px;
                                button{
                                    width: 80%;
                                    background-color: rgb(218, 218, 218);
                                    padding: 15px 30px;
                                    outline: none;
                                    border: none;
                                    margin: 10px 0;
                                    transition: all 0.5s ease;
                                }
                                .add{
                                    background-color: #d1d2d2;

                                    &:hover{
                                        background-color: #808383;
                                    }
                                }
                                .by{
                                    background-color: #687886;
                                    color: white;
                                    &:hover{
                                        background-color: #246dac;
                                    }
                                }
                            }
                            .descriptiongeneral{
                                h3{
                                    font-size: 16px;
                                    font-weight: 400;
                                }
                                .text{
                                    font-size: 15px;
                                    margin: 1em 0; 
                                    font-weight: 300;
                                    line-height: 23px;
                                }
                                ul{
                                    padding-left: 20px;
                                    li{
                                        list-style: initial;
                                    }
                                }
                            }
                            .socialgeneral{
                                display: flex;
                                align-items: center;
                                margin-top: 20px;
                                span{
                                    font-size: 16px;
                                    font-weight: 300;
                                    margin-right: 15px;
                                    i{
                                        font-size: 15px;
                                        margin: 0 7px;
                                        cursor: pointer;
                                        &:hover{
                                            color: #687886;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }


            .slick-arrow{
                display: none !important;
            }
            
            .slick-slider{
                position: initial;
            }
        
            .slick-dots{
                display: flex;
                justify-content: center;
                margin-top: 20px;
                li{
                    font-size: 0px;
                    margin: 10px 0;
                    margin: 0 2px;
                    button{
                        width: 30px;
                        border: none;
                        background-color: rgb(221, 218, 218);
                        height: 3px;
                    }
                }
            }